<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tea Diary</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/App/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tea Diary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="jumbotron">
                <h1>Extremely fancy and convenient tea diary made by Wombatus!</h1>
                Actually not that convenient one because of the lack of time. But in any case it's working'
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/application")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    const HOME_PAGE_LINK = "@Url.Action("Index", "Home", new { area = "" })";
    const TEAS_PAGE_LINK = "@Url.Action("Index", "Teas", new { area = "" }, null)";
    const SEARCH_PAGE_LINK = "@Url.Action("Index", "Search", new { area = "" }, null)";
    const TEA_DETAILS_PAGE_LINK = "@Url.Action("Details", "Teas", new { area = "" }, null)/";
    const TEA_SESSION_DETAILS_PAGE_LINK = "@Url.Action("Details", "TeaSessions", new{area=""}, null)/";
</script>